:root {
  --cyan: hsl(180, 66%, 49%);
  --light-cyan: hsl(180, 59%, 70%);
  --violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --gray-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --dark-violet: hsl(260, 8%, 14%);
}

.App {
  margin-top: 1rem;
  /* width: 100vw; */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  /* overflow-x: hidden; */
}

/* Navabr */

nav {
  /* width: 100%; */
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.logo {
  color: var(--violet);
  font-size: 2rem;
}

.nav {
  display: none;
}

.mobileNav {
  position: absolute;
  z-index: 100;
  text-align: center;
  display: none;
  flex-direction: column;
  background-color: var(--violet);
  padding: 1.5rem;
  border-radius: 15px;
  width: 75vw;
  color: white;
  top: 5rem;
  right: 5vw;
  left: 5vw;
}

.showNav {
  display: flex;
}

.mobileNav ul:first-child {
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.hamburger {
  z-index: 100;
  width: 50px;
  height: 20px;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hamburger span {
  height: 3px;
  width: 25px;
  border-radius: 5px;
  background: var(--gray);
}

nav li,
.footer li {
  list-style: none;
}

nav li {
  padding-bottom: 1rem;
}

nav li:last-child {
  padding-bottom: 0;
}

nav ul,
.footer ul {
  padding: 0;
  margin: 0;
}

.signup {
  padding: 0.5rem;
  border-radius: 2rem;
  height: 35px;
  color: white !important;
  background: var(--cyan);
}

.signup:hover {
  background: var(--light-cyan);
  color: white;
  cursor: pointer;
}

/* Hero */

.hero {
  padding: 0 5%;
  /* display: flex; */
}

.illustration {
  width: 90vw;
}

.hero-text {
  margin-bottom: 2rem;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  color: var(--gray);
  margin-bottom: 2rem;
}

.hero-button {
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  width: 105px;
  color: white !important;
  background: var(--cyan);
}

.hero-button:hover {
  background: var(--light-cyan);
  color: white;
  cursor: pointer;
}

/* Search */

.search-container {
  padding: 0 5%;
  /* width: 100%; */
  background-color: rgb(248, 239, 239);
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 5%; */
}

.search {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--violet);
  background-image: url("./images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10rem;
  border-radius: 15px;
  padding: 1rem;
}

.search input {
  padding: 1rem;
  border: 3px solid var(--cyan);
  border-radius: 10px;
  width: 90%;
}

.search button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  color: white !important;
  background: var(--cyan);
  font-size: 1rem;
  width: 98%;
}

.search button:hover {
  background: var(--light-cyan);
  color: white;
  cursor: pointer;
}

.error-message {
  position: relative;
  bottom: 8.5rem;
  right: 35%;
  font-size: 0.7rem;
}

.results {
  width: 100%;
  position: relative;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.result {
  border-radius: 15px;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.result p,
.result a {
  text-decoration: none;
}

.result p {
  font-size: 75%;
  word-wrap: break-word;
  width: fit-content;
  max-width: 60%;
}

.result a {
  color: var(--light-cyan);
}

.result a:hover {
  cursor: pointer;
}

.result button {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  color: white !important;
  background: var(--cyan);
  font-size: 1rem;
  width: 98%;
  margin-left: 1rem;
}

.result button:hover {
  background: var(--light-cyan);
  color: white;
  cursor: pointer;
}

.result span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Stats */

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 1rem;
}

.stat-title h1 {
  font-size: 3rem;
  text-align: center;
}

.stat-title p {
  font-size: 1rem;
  text-align: center;
}

.stat-cards {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.blue-line {
  width: 0.5rem;
  height: 3rem;
  background-color: var(--cyan);
}

.stat-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25rem;
  padding: 1rem;
}

.stat-icon {
  background-color: var(--violet);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.stat-icon img {
  position: relative;
  top: 1.25rem;
}

/* Footer */

.boost {
  background-color: var(--violet);
  background-image: url("./images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.boost button {
  padding: 1rem;
  border-radius: 35px;
  border: none;
  color: white !important;
  background: var(--cyan);
  font-size: 1.25rem;
}

.boost button:hover {
  background: var(--light-cyan);
  color: white;
  cursor: pointer;
}

.footer-links {
  background-color: var(--dark-violet);
  text-align: center;
  padding: 2rem 1rem;
  color: white;
  font-size: 1rem;
}

.feature-list div,
.resource-list div,
.company-list div {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-links .logo {
  color: white;
}

.footer-links .icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-links .icons img {
  padding: 0.5rem;
}

.footer-links li:hover {
  cursor: pointer;
  color: var(--cyan);
}

.footer-icon:hover {
  cursor: pointer;
  fill: var(--cyan);
}

@media only screen and (min-width: 650px) {
  /* Navabr */

  nav {
    width: 95%;
  }

  .nav {
    padding: 2px 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav li {
    padding-right: 1rem;
    color: var(--gray);
    margin-top: 0.5rem;
  }

  .nav li:hover {
    color: var(--dark-violet);
    cursor: pointer;
  }

  .nav li:first-child {
    padding-left: 2rem;
  }

  .nav ul:nth-of-type(2) li:last-child {
    padding: 0.5rem;
    margin-top: 0;
  }

  nav ul {
    display: flex;
  }

  .signup {
    height: 25px;
    width: 70px;
  }

  /* Hero */

  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .illustration {
    width: 45%;
  }
  .hero-text {
    text-align: left;
    width: 50%;
  }

  /* Search */

  .search {
    flex-wrap: nowrap;
    padding: 0.5rem;
  }

  .search input {
    width: 60%;
  }

  .search button {
    width: 20%;
  }

  .error-message {
    position: relative;
    bottom: 5rem;
    right: 40%;
  }

  .result {
    justify-content: space-between;
  }

  /* Stats */

  /* Footer */
}

@media only screen and (min-width: 800px) {
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-links .icons {
    height: 2.5rem;
  }

  .footer-links .icons {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1295px) {
  .stat-cards {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .blue-line {
    position: relative;
    transform: rotate(-90deg);
    top: 10rem;
    right: 13rem;
  }

  .stat-card:last-of-type {
    margin-top: 3rem;
  }

  .stat-card:last-of-type .blue-line {
    top: 7.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  /* Hero */

  .hero {
  }

  .illustration {
    width: 100%;
  }

  .hero-text {
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }

  .hero-text h1 {
    color: var(--dark-violet);
    font-size: 5rem;
  }

  .hero-text p {
    color: var(--gray);
    width: 500px;
  }

  /* Search */

  .error-message {
    position: relative;
    bottom: 8.5rem;
    right: 42%;
  }

  /* Stats */

  /* Footer */
}
